.App {
    background-color: #f6f6f6;
    width : 100vw ;
    height : 100vh ; 
    text-align: center ;
    padding-top: 20px ;
}
h1{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc ; 
    color : #444 ;
}
.add-contact {
    display: flex  ;
    flex-direction: column ;
    align-items: center ;
}
.contact-list {
    display: flex ;
    flex-direction: column ;
    align-items: center ;
}
a.add , a.list {
    text-decoration: none ;
    display: block ;
    color : #fff ;
}
.btn-link {
    all : unset ;
    font-weight: bold ;
    border-radius: 5px ;
    margin-top: 20px;
    color: #fff ;
    background: #7c3aed;
}